async-generator==1.10
attrs==21.4.0
beautifulsoup4==4.11.1
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
cryptography==37.0.2
csvsort==1.6.1
galeodes==0.7
h11==0.13.0
idna==3.3
langdetect==1.0.9
lxml==4.8.0
lz4==4.0.1
outcome==1.1.0
Pillow==9.1.1
protobuf==4.21.1
pycparser==2.21
pyOpenSSL==22.0.0
PySocks==1.7.1
requests==2.27.1
selenium==4.2.0
six==1.16.0
sniffio==1.2.0
social-analyzer==0.45
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
termcolor==1.1.0
tld==0.12.6
trio==0.20.0
trio-websocket==0.9.2
urllib3==1.26.9
wsproto==1.1.0
