beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
idna==3.1
langdetect==1.0.9
lxml==4.6.3
protobuf==3.17.0
requests==2.25.1
six==1.16.0
social-analyzer==0.21
soupsieve==2.2.1
termcolor==1.1.0
tld==0.12.5
urllib3==1.26.4
