beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.3
colored==1.4.2
docopt==0.6.1
docopts==0.6.1
functions==0.7.0
goop==0.2
idna==2.9
lockfile==0.12.2
lxml==4.5.0
numpy==1.18.1
requests==2.23.0
requests-file==1.4.3
six==1.14.0
slack-cleaner==0.6.3
slacker==0.14.0
soupsieve==2.0
termcolor==1.1.0
texttable==1.6.2
tldextract==2.2.2
Unidecode==1.1.1
urllib3==1.25.8
