[user]
	name = Rafa Gómez
	email = rgomezcasas@gmail.com
	signingkey = AC2C04F065F7ADB8

[fetch]
	prune = true

[push]
	default = simple
	autoSetupRemote = true

[color]
	diff = auto
	status = auto
	branch = auto
	ui = true

[core]
	excludesfile = /Users/rafa.gomez/.gitignore_global
	attributesfile = /Users/rafa.gomez/.gitattributes
	editor = vim
	autocrlf = input
	trustctime = false
	precomposeunicode = false
	pager = delta --dark
	ignorecase = false

[delta]
    features = line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none

[help]
	autocorrect = 1

[diff]
	tool = vimdiff
	compactionHeuristic = true
	indentHeuristic = true

[difftool]
	prompt = false

[diff "json"]
	textconv = python -m json.tool

[diff "word"]
	textconv = docx2txt

[credential]
	helper = osxkeychain

[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse

[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[gpg]
	program = /Users/rafa.gomez/bin/gpg

[pull]
	rebase = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[init]
	defaultBranch = main
