[submodule "modules/dotly"]
	path = modules/dotly
	url = https://github.com/codelytv/dotly.git
	ignore = dirty

[submodule "modules/private"]
	path = modules/private
	url = git@github.com:rgomezcasas/dotfiles-private.git
	ignore = dirty

[submodule "modules/ghostty-cursor-shaders"]
	path = modules/ghostty-cursor-shaders
	url = https://github.com/sahaj-b/ghostty-cursor-shaders.git
	ignore = dirty
