# MacOS
# ----------------------------------
# Karabiner
/mac/karabiner-elements/automatic_backups

# Alfred
/mac/alfred/remote


# Common
# ----------------------------------
# Compiled zsh
shell/zsh/**/**.zwc
shell/zsh/**/**.zwc.old

# Private Stuff
/**/**/private-*
