# Sublime Stuff
/editors/sublime-text-3/Packages/User/Package Control.cache
/editors/sublime-text-3/Packages/User/Package Control.last-run
/editors/sublime-text-3/Packages/User/Package Control.merged-ca-bundle
/editors/sublime-text-3/Packages/User/Package Control.user-ca-bundle
/editors/sublime-text-3/Packages/User/oscrypto-ca-bundle.crt

# Private Stuff
/**/**/private-*
