# MacOS
# ----------------------------------

# Licences
/mac/Rocket/.licence

# Karabiner
/mac/karabiner-elements/automatic_backups

# Alfred
/mac/alfred/remote


# Linux
# ----------------------------------


# Common
# ----------------------------------

# Compiled zsh
terminal/zsh/**/**.zwc
terminal/zsh/**/**.zwc.old

# Private Stuff
/**/**/private-*

