<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.user.toggle.menubar</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/rafa.gomez/.dotfiles/bin/sdot</string>
			<string>mac</string>
			<string>toggle_menu_bar</string>
		</array>
		<key>StartInterval</key>
		<integer>5</integer>
		<key>RunAtLoad</key>
		<true/>
	</dict>
</plist>
