<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.user.cron.5seconds</string>
		<key>ProgramArguments</key>
		<array>
			<string>/Users/rafa.gomez/.dotfiles/bin/sdot</string>
			<string>system</string>
			<string>cron</string>
		</array>
		<key>StartInterval</key>
		<integer>15</integer>
		<key>RunAtLoad</key>
		<true/>
		<key>KeepAlive</key>
		<true/>
		<key>StandardErrorPath</key>
		<string>/Users/rafa.gomez/Library/Logs/cron.5seconds.error.log</string>
		<key>StandardOutPath</key>
		<string>/Users/rafa.gomez/Library/Logs/cron.5seconds.out.log</string>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/rafa.gomez/.dotfiles/bin</string>
			<key>DOTFILES_PATH</key>
			<string>/Users/rafa.gomez/.dotfiles</string>
			<key>DOTLY_PATH</key>
			<string>/Users/rafa.gomez/.dotfiles</string>
		</dict>
	</dict>
</plist>