<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>D0A2B080-6906-4A75-8C45-B5DCCB4FB39C</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>ghs</string>
			<key>text</key>
			<string>Search GitHub for '{query}'</string>
			<key>url</key>
			<string>https://github.com/search?utf8=✓&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>F4745218-ADE4-4AC1-9DF9-9EA85989113B</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gh</string>
			<key>text</key>
			<string>Go to the '{query}' page</string>
			<key>url</key>
			<string>https://github.com/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
