[Desktop Entry]
Exec=/home/rafa/.local/share/JetBrains/Toolbox/bin/jetbrains-toolbox --minimize
Icon=/home/rafa/.local/share/JetBrains/Toolbox/toolbox.svg
MimeType=x-scheme-handler/jetbrains;
Name=JetBrains Toolbox
StartupNotify=false
StartupWMClass=jetbrains-toolbox
Terminal=false
Type=Application
Version=1.0
X-GNOME-Autostart-Delay=10
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
X-MATE-Autostart-Delay=10