<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defaultBundleId</key>
	<string>wtf.rafa</string>
	<key>defaultCreatedBy</key>
	<string>Rafa Gómez Casas</string>
	<key>defaultWebsite</key>
	<string>rafa.wtf</string>
</dict>
</plist>
