[Desktop Entry]
Type=Application
Exec=setxkbmap -option altwin:swap_lalt_lwin
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=keyboardconf
Name=keyboardconf
Comment[en_US]=
Comment=

