{:profiles
 {:Default
  {:default true
   :alone   200
   :delay   200
   :held    100
   :sim     8100}}
 :applications
 {:Arc            ["company.thebrowser.Browser"]
  :Bitwarden      ["com.bitwarden.desktop"]
  :ChatGPT        ["com.openai.chat"]
  :Chrome         ["com.google.Chrome", "com.google.Chrome.beta"]
  :Claude         ["com.anthropic.claudefordesktop"]
  :Contexts       ["com.contextsformac.Contexts"]
  :Dia            ["company.thebrowser.dia"]
  :Finder         ["com.apple.finder"]
  :Gather         ["com.gather.Gather"]
  :GoogleMeet     ["com.google.Chrome.app.kjgfgldnnfoeklkmfkjfagphfepbbdan"]
  :GuitarPro      ["com.arobas-music.guitarpro7"]
  :IntelliJ       ["com.jetbrains.intellij", "com.jetbrains.intellij-EAP"]
  :Keynote        ["com.apple.iWork.Keynote"]
  :Notes          ["com.apple.Notes"]
  :Notion         ["notion.id"]
  :Orion          ["com.kagi.kagimacOS"]
  :PersonalNotion ["com.apple.Safari.WebApp.5201A944-EF60-472C-80BB-F173D751027E"]
  :Raycast        ["com.raycast.macos"]
  :Reminders      ["com.apple.reminders"]
  :Safari         ["com.apple.Safari"]
  :Slack          ["com.tinyspeck.slackmacgap"]
  :VSCode         ["com.microsoft.VSCode"]
  :Vlc            ["org.videolan.vlc"]
  :ZenBrowser     ["app.zen-browser.zen"]}
 :froms
 {:clipboard-history        {:modi [:left_command :left_shift] :key :v}
  :copy-current-url         {:modi [:left_command :left_shift] :key :c}
  :create-folder            {:modi [:left_control :left_option :left_command] :key :p}
  :line-delete              {:modi :left_command :key :delete_or_backspace}
  :move-next-screen         {:modi [:left_command :left_shift :left_option] :key :right_arrow}
  :move-prev-screen         {:modi [:left_command :left_shift :left_option] :key :left_arrow}
  :next-workspace           {:modi [:left_command :left_option] :key :right_arrow}
  :prev-workspace           {:modi [:left_command :left_option] :key :left_arrow}
  :selection-extend         {:modi :left_option :key :up_arrow}
  :selection-shrink         {:modi :left_option :key :down_arrow}
  :show-recent              {:modi :left_command :key :e}
  :sidebar-primary-toggle   {:modi :left_command :key :1}
  :sidebar-secondary-toggle {:modi :left_command :key :2}
  :switch-account           {:modi :left_command :key :caps_lock}
  :switch-account-esc       {:modi :left_command :key :escape}
  :zoom-in                  {:modi :left_command :key :equal_sign}
  :zoom-out                 {:modi :left_command :key :hyphen}}
 :templates
 {:open-app         "osascript -e 'tell application \"%s\" to activate'"
  :type             "/run/current-system/sw/bin/skhd -t \"%s\""
  :paste            "$HOME/.dotfiles/bin/sdot mac paste_text \"%s\""
  :paste-and-return "$HOME/.dotfiles/bin/sdot mac paste_text \"%s\" --returning"
  :wait_seconds     "osascript -e 'delay %s'"}
 :main
 [{:des   "[Mouse] Navigation"
   :rules [[{:pkey :button5} :!Ctab]                            ; Up key -> Restore last hidden
           [{:pkey :button4} [{:pkey :button1} :!Ch]]           ; Down key -> Hide
           [:!SOd :!Cmission_control]]}                         ; Show desktop

  {:des   "[Keyboard] Global shortcuts"
   :rules [[:!Cm :!CTSm]                                        ; Disable minimize with cmd+m
           [:!Tdelete_or_backspace :delete_forward]             ; ctrl+backspace -> supr
           [:!TCup_arrow :!TCdown_arrow]                        ; ctrl+cmd+up -> ctrl+cmd+down
           [:right_command :!Ospacebar]]}                       ; right cmd as opt+space

  {:des   "[Keyboard] Symbols"
   :rules [[:!On [:type "ñ"]]
           [:!OSn [:type "Ñ"]]
           [:!Oslash [:type "¿"]]
           [:!Eslash [:type "¿"]]
           [:!E3 [:type "€"]]
           [:!O3 [:type "€"]]
           [:!Oo [:type "ó"]]
           [:!Oa [:type "á"]]]}

  {:des   "[Keyboard] Hyper key remaps"
   :rules [[:escape :!TOCleft_shift nil {:alone :escape}]       ; escape alone -> esc, held -> hyper
           [:caps_lock :!TOCleft_shift nil {:alone :escape}]]}  ; caps_lock alone -> esc, held -> hyper

  {:des   "[Util] Brightness and zoom with wheel"
   :rules [[:!Svolume_increment :display_brightness_increment]  ; shift+vol up -> brightness up
           [:!Svolume_decrement :display_brightness_decrement]  ; shift+vol down -> brightness down
           [:!Cvolume_increment :!Cequal_sign]                  ; cmd+vol up -> zoom in
           [:!Cvolume_decrement :!Chyphen]]}                    ; cmd+vol down -> zoom out

  {:des   "[Util] Selection and line editing"
   :rules [[:selection-extend                                   ; Extend selection
            [:!Oleft_arrow :!OSright_arrow]
            [:!IntelliJ :!VSCode :!GuitarPro]]
           [:line-delete                                        ; Delete line
            [:!Cright_arrow :!Cdelete_or_backspace :delete_or_backspace]
            [:!IntelliJ :!Notion :!Finder :!Contexts]]]}

  {:des   "[Util] Window management"
   :rules [[:clipboard-history [:!CTO0]]                        ; Clipboard history
           [:move-next-screen [:!CTOSright_arrow :!SOc]]        ; Move app to next screen and center
           [:move-prev-screen [:!CTOSleft_arrow :!SOc]]]}       ; Move app to prev screen and center

  {:des   "[Launch] Scripts"
   :rules [[:!Tcaps_lock "$HOME/.dotfiles/bin/sdot ui show_scripts"]                  ; Dotly UI scripts
           [:!CTOu "$HOME/.dotfiles/bin/sdot utils uuid_code"]                        ; Generate UUID
           [:!CTgrave_accent_and_tilde "$HOME/.dotfiles/bin/sdot utils open_common"]  ; Open common folders
           [:!CTOr "$HOME/.dotfiles/bin/sdot github open_codely_repo"]]}              ; Open CodelyTV repo

  {:des   "[Music] Apple Music controls"
   :rules [[:!TOC9 "$HOME/.dotfiles/bin/sdot apple music increase-volume"] ; Increase volume
           [:!TOC8 "$HOME/.dotfiles/bin/sdot apple music decrease-volume"] ; Decrease volume
           [:!TOC7 "$HOME/.dotfiles/bin/sdot apple music toggle-play"]]}   ; Toggle play/pause

  {:des   "[Arc] Shortcuts"
   :rules [:Arc
           [:sidebar-primary-toggle :!Cs]        ; Toggle sidebar
           [:switch-account :!COright_arrow]     ; Switch profile
           [:switch-account-esc :!COright_arrow] ; Switch profile (esc)
           [:!Cp :!Cl]                           ; CMD+P shows url menu
           [:!Otab :!COdown_arrow]               ; opt+tab switch tabs down
           [:!OStab :!COup_arrow]                ; opt+shift+tab switch tabs up
           [:!TOCSt :!COj]]}                     ; hyper+t opens terminal

  {:des   "[Dia] Shortcuts"
   :rules [:Dia
           [:sidebar-primary-toggle :!Cs]]} ; Toggle sidebar

  {:des   "[Zen] Shortcuts"
   :rules [:ZenBrowser
           [:sidebar-primary-toggle :!COc]       ; Toggle sidebar
           [:sidebar-secondary-toggle :!Ob]      ; Change to compact
           [:switch-account :!TOright_arrow]     ; Change workspace
           [:switch-account-esc :!TOright_arrow] ; Change workspace (esc)
           [:next-workspace :!TOright_arrow]     ; Next workspace
           [:prev-workspace :!COq]               ; Previous workspace
           [:!Ct [:!Ct :!Cl]]]}                  ; cmd+t also shows url bar

  {:des   "[Orion] Shortcuts"
   :rules [:Orion
           [:sidebar-primary-toggle :!TCs] ; Toggle sidebar
           [:next-workspace :!STCc]        ; Next profile
           [:prev-workspace :!STCp]]}      ; Previous profile

  {:des   "[Claude] Shortcuts"
   :rules [:Claude
           [:sidebar-primary-toggle :!Cperiod]]} ; Toggle sidebar

  {:des   "[ChatGPT] Shortcuts"
   :rules [:ChatGPT
           [:sidebar-primary-toggle :!CTs]]} ; Toggle sidebar

  {:des   "[VSCode] Shortcuts"
   :rules [:VSCode
           [:sidebar-primary-toggle :!Cb]      ; Toggle sidebar
           [:sidebar-secondary-toggle :!TCi]]} ; Toggle secondary sidebar

  {:des   "[Notes] Shortcuts"
   :rules [:Notes
           [:sidebar-primary-toggle :!CTs]]} ; Toggle sidebar

  {:des   "[Chrome] Shortcuts"
   :rules [:Chrome
           [:show-recent :!CSa]                             ; Show recent tabs
           [:!CSi :!CSc]                                    ; Inspect element
           [:!CTOt :!COj]                                   ; Toggle console
           [:switch-account [:!CSm :return_or_enter]]       ; Switch profile
           [:switch-account-esc [:!CSm :return_or_enter]]]} ; Switch profile (esc)

  {:des   "[Safari] Shortcuts"
   :rules [:Safari
           [:sidebar-primary-toggle :!CSl]                                          ; Toggle sidebar
           [:switch-account "$HOME/.dotfiles/bin/sdot safari switch_profile"]       ; Switch profile
           [:switch-account-esc "$HOME/.dotfiles/bin/sdot safari switch_profile"]]} ; Switch profile (esc)

  {:des   "[Bitwarden] Shortcuts"
   :rules [:Bitwarden
           [:switch-account "$HOME/.dotfiles/bin/sdot bitwarden switch_account"]       ; Switch account
           [:switch-account-esc "$HOME/.dotfiles/bin/sdot bitwarden switch_account"]]} ; Switch account (esc)

  {:des   "[Finder] Shortcuts"
   :rules [:Finder
           [:create-folder :!CSn]            ; Create folder
           [:sidebar-primary-toggle :!CTs]]} ; Toggle sidebar

  {:des   "[GuitarPro] Shortcuts"
   :rules [:GuitarPro
           [:zoom-in :!CSperiod]   ; Zoom in
           [:zoom-out :!CScomma]]} ; Zoom out

  {:des   "[VLC] Shortcuts"
   :rules [:Vlc
           [:f :!CTf]]} ; Fullscreen

  {:des   "[Keynote] Shortcuts"
   :rules [:Keynote
           [:zoom-in :!CSperiod]   ; Zoom in
           [:zoom-out :!CScomma]]} ; Zoom out

  {:des   "[Notion] Shortcuts"
   :rules [:Notion
           [:show-recent :!Cp]                    ; Show recent pages
           [:sidebar-primary-toggle :!Cbackslash] ; Toggle sidebar
           [:copy-current-url :!Cl]               ; Copy current url
           [:selection-extend :!Sup_arrow]        ; Extend selection
           [:selection-shrink :!Sdown_arrow]      ; Shrink selection
           [:!Co :!Creturn_or_enter]]}            ; Open current page

  {:des   "[Raycast] Shortcuts"
   :rules [:Raycast
           [:sidebar-primary-toggle :!CSs] ; Toggle sidebar
           [:!Cq :!Cw]                     ; Quit AI with cmd+q
           [:!Ct :!Cn]]}                   ; cmd+t as cmd+n

  {:des   "[Reminders] Shortcuts"
   :rules [:Reminders
           [:sidebar-primary-toggle :!COs]]} ; Toggle sidebar

  {:des   "[PersonalNotion] Shortcuts"
   :rules [:PersonalNotion
           [:show-recent :!Cp]                    ; Show recent pages
           [:sidebar-primary-toggle :!Cbackslash] ; Toggle sidebar
           [:!CSn :!Cn]]}                         ; Open new window

  {:des   "[Gather] Shortcuts"
   :rules [:Gather
           [:!Cd :!CSa]]} ; Mute/unmute with cmd+d

  {:des   "[Slack] Shortcuts"
   :rules [:Slack
           [:!Ttab :!Copen_bracket]                             ; Move back in history
           [:!TStab :!Cclose_bracket]                           ; Move forward in history
           [:!Cp :!Ck]                                          ; Navigate channels (cmd+p)
           [:!Ce :!Ck]                                          ; Navigate channels (cmd+e)
           [:sidebar-primary-toggle :!CSd]                      ; Toggle primary sidebar
           [:sidebar-secondary-toggle :!Cperiod]                ; Toggle secondary sidebar
           [:!O1 :!C1]                                          ; Workspace 1
           [:!O2 :!C2]                                          ; Workspace 2
           [:!O3 :!C3]                                          ; Workspace 3
           [:!COv [:paste-and-return "+:white_check_mark:"]]    ; React: check
           [:!COs [:paste-and-return "+:thumbsup:"]]            ; React: thumbsup
           [:!COd [:paste-and-return "+:thumbsdown:"]]          ; React: thumbsdown
           [:!COp [:paste-and-return "+:heavy_plus_sign:"]]     ; React: plus
           [:!COg [:paste-and-return "+:grimacing:"]]           ; React: grimacing
           [:!COl [:paste-and-return "+:joy:"]]]}]              ; React: joy

 :cheatsheet
 {:!Ca        "command a"
  :!Ta        "control a"
  :!Oa        "option a"
  :!Sa        "shift a"
  :#Sa        "shift a"
  :!CTOa      "command control option a"
  :!Cspacebar "command space"
  :!Fa        "fn a"
  :##a        "keycode a optional any"
  :!!a        "mandatory hyper (control command option shift) a "}}
