{:default   true
 :alone     500
 :delay     200
 :held      500
 :applications
 {;; To obtain the app ID: `grep -A1 "CFBundleIdentifier" /Applications/The.app/Contents/Info.plist`
   :Chrome   ["com.google.Chrome", "com.google.Chrome.beta"]
   :Slack    ["com.tinyspeck.slackmacgap"]
   :Notion   ["notion.id"]
   :Finder   ["com.apple.finder"]
   :Contexts ["com.contextsformac.Contexts"]
   :IntelliJ ["com.jetbrains.intellij"]
   :Keynote  ["com.apple.iWork.Keynote"]}
 :froms     {:delete-line              {:modi :left_command :key :delete_or_backspace}
             :duplicate-line           {:modi :left_command :key :d}
             :show-recent              {:modi :left_command :key :e}
             :selection-extend         {:modi :left_option :key :up_arrow}
             :selection-shrink         {:modi :left_option :key :down_arrow}
             :sidebar-primary-toggle   {:modi :left_command :key :1}
             :sidebar-secondary-toggle {:modi :left_command :key :2}
             :zoom-in                  {:modi :left_command :key :equal_sign}
             :zoom-out                 {:modi :left_command :key :hyphen}}
 :templates {:paste            "osascript -e '
set the clipboard to \"%s\"
tell application \"System Events\"
    keystroke \"v\" using command down
end tell'"
             :paste_and_return "osascript -e '
set the clipboard to \"%s\"
tell application \"System Events\"
    keystroke \"v\" using command down
    key code 36
end tell'"}
 :layers    {:tab-mode {:key :tab}}
 :main
 [;; Remaps
   {:des   "[mouse] Up key -> Restore last hidden"
    :rules [[{:pkey :button5} :!Ctab]]}
   {:des   "[mouse] Down key -> Hide"
    :rules [[{:pkey :button4} [{:pkey :button1} :!Ch]]]}
   {:des   "[keyboard] caps lock to hyper"
    :rules [[:caps_lock :!CTOleft_shift]]}
   {:des   "[keyboard] ctr + cmd + ↑ as ↓"
    :rules [[:!CTdown_arrow :!CTup_arrow]]}
   {:des   "[keyboard] Emojis + Symbols"
    :rules [[:!Ov [:paste "✅"]]
            [:!Os [:paste "👍"]]
            [:!Od [:paste "👎"]]
            [:!Op [:paste "➕"]]
            [:!Og [:paste "😬"]]
            [:!Ol [:paste "😂"]]
            [:!On [:paste "ñ"]]
            [:!OSn [:paste "Ñ"]]
            [:!Oslash [:paste "¿"]]
            [:!Eslash [:paste "¿"]]]}
   ;; Launchers
   {:des   "[launch] iTerm"
    :rules [[:!CTOspacebar "open -a 'iTerm.app';open -a 'iTerm.app'"]]}
   {:des   "[launch] IntelliJ"
    :rules [[:!CTOi "$HOME/.dotfiles/bin/sdot utils open_intellij"]]}
   {:des   "[launch] Chrome"
    :rules [[:!CTOc "open -a 'Google Chrome Beta.app' --args --profile-directory=Default"]]}
   {:des   "[launch] Slack"
    :rules [[:!CTOs "open -a 'Slack.app'"]]}

   {:des   "[launch] List projects and open with intellij"
    :rules [[:!CSOi "$HOME/.dotfiles/bin/sdot utils open_project_in_intellij"]]}
   {:des   "[launch] List open tabs and focus it with Chrome"
    :rules [[:!CSOc "$HOME/.dotfiles/bin/sdot chrome goto"]]}
   {:des   "[launch] List all Codely Pro courses and open it on the default browser"
    :rules [[:!CSOp "$HOME/.dotfiles/bin/sdot codely open_course"]]}

   ;; Util
   {:des   "[util] Generate uuid to the clipboard"
    :rules [[:!CTOu "$HOME/.dotfiles/bin/sdot utils uuid_code"]]}
   {:des   "[util] Extend selection"
    :rules [[:selection-extend [:!Oleft_arrow :!OSright_arrow] [:!IntelliJ :!Notion]]]}
   {:des   "[util] Delete line"
    :rules [[:delete-line
             [:!Cright_arrow :!Cdelete_or_backspace :delete_or_backspace]
             [:!IntelliJ :!Notion :!Finder :!Contexts]]]}

   ;; Application specific
   {:des "[chrome] Show recent tabs" :rules [:Chrome [:show-recent :!CSa]]}
   {:des "[chrome] Inspect element" :rules [:Chrome [:!CSi :!CSc]]}
   {:des "[chrome] Toggle console" :rules [:Chrome [:!CTOt :!COj]]}
   {:des   "[slack] Navigate between channels"
    :rules [:Slack [:!Cp :!Ck] [:!Ce :!Ck]]}
   {:des   "[slack] Toggle sidebars"
    :rules [:Slack [:sidebar-primary-toggle :!CSd] [:sidebar-secondary-toggle :!Cperiod]]}
   {:des   "[slack] Move between workspaces"
    :rules [:Slack [:!O1 :!C1] [:!O2 :!C2] [:!O3 :!C3]]}
   {:des   "[slack] Reactions"
    :rules [:Slack
            [:!COv [:paste_and_return "+:white_check_mark:"]]
            [:!COs [:paste_and_return "+:thumbsup:"]]
            [:!COd [:paste_and_return "+:thumbsdown:"]]
            [:!COp [:paste_and_return "+:heavy_plus_sign:"]]
            [:!COg [:paste_and_return "+:grimacing:"]]
            [:!COl [:paste_and_return "+:joy:"]]]}
   {:des "[notion] Show recent pages" :rules [:Notion [:show-recent :!Cp]]}
   {:des   "[notion] Toggle sidebar"
    :rules [:Notion [:sidebar-primary-toggle :!Cbackslash]]}
   {:des   "[notion] Extend selection"
    :rules [:Notion [:selection-extend :!Sup_arrow] [:selection-shrink :!Sdown_arrow]]}
   {:des   "[keynote] Zoom in/out"
    :rules [:Keynote [:zoom-in :!CSperiod] [:zoom-out :!CScomma]]}

   ;; !  | means mandatory
   ;; #  | means optional

   ;; C  | left_command
   ;; T  | left_control
   ;; O  | left_option
   ;; S  | left_shift
   ;; F  | fn
   ;; Q  | right_command
   ;; W  | right_control
   ;; E  | right_option
   ;; R  | right_shift
   ;; !! | mandatory command + control + optional + shift (hyper)
   ;; ## | optional any
   ]}
