! Base16 Eighties
! Scheme: Chris Kempson (http://chriskempson.com)

*foreground:   #d3d0c8
#ifdef background_opacity
*background:   [background_opacity]#2d2d2d
#else
*background:   #2d2d2d
#endif
*cursorColor:  #d3d0c8

*color0:       #2d2d2d
*color1:       #f2777a
*color2:       #99cc99
*color3:       #ffcc66
*color4:       #6699cc
*color5:       #cc99cc
*color6:       #66cccc
*color7:       #d3d0c8

*color8:       #747369
*color9:       #f2777a
*color10:      #99cc99
*color11:      #ffcc66
*color12:      #6699cc
*color13:      #cc99cc
*color14:      #66cccc
*color15:      #f2f0ec

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      #f99157
*color17:      #d27b53
*color18:      #393939
*color19:      #515151
*color20:      #a09f93
*color21:      #e8e6df


! URxvt.font:                       9x15,xft:TerminessTTFNerdFontMono

! alternative font settings with 'terminus':
URxvt.font:      -xos4-terminus-medium-r-normal--16-160-72-72-c-80-iso10646-1
!URxvt.bold.font: -xos4-terminus-bold-r-normal--16-160-72-72-c-80-iso10646-1

URxvt*scrollBar:                  false
URxvt*mouseWheelScrollPage:       false
URxvt*cursorBlink:                true
URxvt*saveLines:                  5000

! for 'fake' transparency (without Compton) uncomment the following three lines
! URxvt*inheritPixmap:            true
! URxvt*transparent:              true
! URxvt*shading:                  138

! other possible settings:
URxvt.iso14755: false
!URxvt.perl-ext:
!URxvt.perl-ext-common:
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
!! Cursor word movement
URxvt*altSendsEscape: true
URxvt.keysym.Control-Left:    \033[1;5D
URxvt.keysym.Shift-Control-Left:    \033[1;6D
URxvt.keysym.Control-Right:    \033[1;5C
URxvt.keysym.Shift-Control-Right:    \033[1;6C
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Shift-Control-Up:    \033[1;6A
URxvt.keysym.Control-Down:    \033[1;5B
URxvt.keysym.Shift-Control-Down:    \033[1;6B
URxvt.clipboard.autocopy: true
! URxvt.keysym.M-C-v:              perl:clipboard:paste_escaped
! URxvt*termName:                  string
! URxvt*geometry:                  geometry
! URxvt*chdir:                     string
! URxvt*reverseVideo:              boolean
! URxvt*loginShell:                boolean
! URxvt*multiClickTime:            number
! URxvt*jumpScroll:                boolean
! URxvt*skipScroll:                boolean
! URxvt*pastableTabs:              boolean
! URxvt*scrollstyle:               plain
! URxvt*scrollBar_right:           boolean
! URxvt*scrollBar_floating:        true
! URxvt*scrollBar_align:           mode
! URxvt*thickness:                 number
! URxvt*scrollTtyOutput:           boolean
! URxvt*scrollTtyKeypress:         boolean
! URxvt*scrollWithBuffer:          boolean
! URxvt*tintColor:                 !7DA55
! URxvt*blurRadius:                HxV
! URxvt*fading:                    number
! URxvt*fadeColor:                 color
! URxvt*utmpInhibit:               boolean
! URxvt*urgentOnBell:              boolean
! URxvt*visualBell:                boolean
! URxvt*mapAlert:                  boolean
! URxvt*meta8:                     boolean
! URxvt*tripleclickwords:          boolean
! URxvt*insecure:                  boolean
! URxvt*cursorUnderline:           boolean
! URxvt*pointerBlank:              boolean
