{%- if var.default_style %}
html {
  --mdpopups-font-mono: "sf mono", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  {%- if var.sublime_version < 3127 %}
  --mdpopups-admon-fg: var(--background);
  --mdpopups-admon-info-fg: var(--background);
  --mdpopups-admon-error-fg: var(--background);
  --mdpopups-admon-warning-fg: var(--background);
  --mdpopups-admon-success-fg: var(--background);
  --mdpopups-admon-bg: color(var(--background) blend(var(--foreground) 30%));
  --mdpopups-admon-info-bg: color(var(--background) blend(var(--bluish) 30%));
  --mdpopups-admon-error-bg: color(var(--background) blend(var(--redish) 30%));
  --mdpopups-admon-warning-bg: color(var(--background) blend(var(--orangish) 30%));
  --mdpopups-admon-success-bg: color(var(--background) blend(var(--greenish) 30%));
  {%- else %}
  --mdpopups-admon-fg: var(--foreground);
  --mdpopups-admon-info-fg: var(--foreground);
  --mdpopups-admon-error-fg: var(--foreground);
  --mdpopups-admon-warning-fg: var(--foreground);
  --mdpopups-admon-success-fg: var(--foreground);
  --mdpopups-admon-bg: var(--background);
  --mdpopups-admon-info-bg: var(--background);
  --mdpopups-admon-error-bg: var(--background);
  --mdpopups-admon-warning-bg: var(--background);
  --mdpopups-admon-success-bg: var(--background);
  {%- endif %}
  --mdpopups-admon-accent: color(var(--background) blend(var(--foreground) 50%));
  --mdpopups-admon-title-fg:  var(--foreground);
  --mdpopups-admon-info-title-fg:  var(--foreground);
  --mdpopups-admon-error-title-fg:  var(--foreground);
  --mdpopups-admon-warning-title-fg:  var(--foreground);
  --mdpopups-admon-success-title-fg:  var(--foreground);
  --mdpopups-admon-info-accent: color(var(--background) blend(var(--bluish) 50%));
  --mdpopups-admon-error-accent: color(var(--background) blend(var(--redish) 50%));
  --mdpopups-admon-warning-accent: color(var(--background) blend(var(--orangish) 50%));
  --mdpopups-admon-success-accent: color(var(--background) blend(var(--greenish) 50%));
  --mdpopups-kbd-fg: var(--background);
  --mdpopups-kbd-bg: var(--foreground);
}
html.light {
  --mdpopups-hr: color(var(--foreground) blend(white 80%));
  --mdpopups-kbd-border: color(var(--foreground) blend(white 80%));
  --mdpopups-hl-border: color(var(--background) blend(black 90%));
  --mdpopups-hl-bg: color(var(--background) blend(black 98%));
}
html.dark {
  --mdpopups-hr: color(var(--foreground) blend(black 80%));
  --mdpopups-kbd-border: color(var(--foreground) blend(black 80%));
  --mdpopups-hl-border: color(var(--background) blend(white 90%));
{%- if var.sublime_version < 3127 %}
  /* 3127 borders allow us more flexibility with code backgrounds. Older versions are going to stick to darkening. */
  --mdpopups-hl-bg: color(var(--background) blend(black 98%));
{%- else %}
  --mdpopups-hl-bg: color(var(--background) blend(white 98%));
{%- endif %}
}
html, body { padding: 0; margin: 0; }
div.mdpopups {
  display: block;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.1rem;
}
.mdpopups .highlight,
.mdpopups code,
.mdpopups var,
.mdpopups tt {
  font-family: var(--mdpopups-font-mono);
}
.mdpopups div { display: block; }
/* Headers */
.mdpopups h1 { font-size: 1.5rem; }
.mdpopups h2 { font-size: 1.4rem; }
.mdpopups h3 { font-size: 1.3rem; }
.mdpopups h4 { font-size: 1.2rem; }
.mdpopups h5 { font-size: 1.1rem; }
.mdpopups h6 { font-size: 1rem; }
.mdpopups h1, .mdpopups h2, .mdpopups h3, .mdpopups h4, .mdpopups h5, .mdpopups h6 {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
/* Blockquote support. */
.mdpopups blockquote { display: block; font-style: italic; }
/* Horizontal rule support. */
.mdpopups hr {
  display: block;
  {%- if var.sublime_version < 3127 %}
  padding: 1px;
  background-color: var(--mdpopups-hr);
  {%- else %}
  border-color: var(--mdpopups-hr);
  border-style: solid;
  border-width: 0 0 1px 0;
  {%- endif %}
  margin-top: 1rem;
  margin-bottom: 1rem;
}
/* Description list support */
.mdpopups dl { display: block; }
.mdpopups dt {
  display: block;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.mdpopups dd {
  display: block;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
}
/* Preformatted block */
.mdpopups pre { display: block; }
/* Blocks */
.mdpopups blockquote, .mdpopups ol, .mdpopups ul, .mdpopups dl, .mdpopups p {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-right: 0;
}
.mdpopups ul, .mdpopups ol { padding-left: 2rem; }
/* kbd */
.mdpopups kbd {
  display: inline;
  font-size: 0.9rem;
  padding: 0.05rem 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--mdpopups-kbd-bg);
  color: var(--mdpopups-kbd-fg);
  border: 1px solid var(--mdpopups-kbd-border);
}
/* Admontions/Panels */
.mdpopups .admonition {
  display: block;
  padding: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
  background-color: var(--mdpopups-admon-bg);
  color: var(--mdpopups-admon-fg);
  border: 1px solid var(--mdpopups-admon-accent);
}
.mdpopups .admonition-title {
  font-weight: 600;
  font-size: 1.1rem;
  margin: 0 -0.5rem 0.5rem -0.5rem;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  color:  var(--mdpopups-admon-title-fg);
  background-color: var(--mdpopups-admon-accent);
}
/* Colorized Admonitions classes. */
.mdpopups .admonition.panel-success .admonition-title {
  color: var(--mdpopups-admon-success-title-fg);
  background-color: var(--mdpopups-admon-success-accent);
}
.mdpopups .admonition.panel-success {
  color:  var(--mdpopups-admon-success-fg);
  background-color: var(--mdpopups-admon-success-bg);
  border-color: var(--mdpopups-admon-success-accent);
}
.mdpopups .admonition.panel-warning .admonition-title {
  color: var(--mdpopups-admon-warning-title-fg);
  background-color: var(--mdpopups-admon-warning-accent);
}
.mdpopups .admonition.panel-warning {
  color:  var(--mdpopups-admon-warning-fg);
  background-color: var(--mdpopups-admon-warning-bg);
  border-color: var(--mdpopups-admon-warning-accent);
}
.mdpopups .admonition.panel-error .admonition-title {
  color: var(--mdpopups-admon-error-title-fg);
  background-color: var(--mdpopups-admon-error-accent);
}
.mdpopups .admonition.panel-error {
  color:  var(--mdpopups-admon-error-fg);
  background-color: var(--mdpopups-admon-error-bg);
  border-color: var(--mdpopups-admon-error-accent);
}
.mdpopups .admonition.panel-info .admonition-title {
  color: var(--mdpopups-admon-info-title-fg);
  background-color: var(--mdpopups-admon-info-accent);
}
.mdpopups .admonition.panel-info {
  color:  var(--mdpopups-admon-info-fg);
  background-color: var(--mdpopups-admon-info-bg);
  border-color: var(--mdpopups-admon-info-accent);
}
.mdpopups .highlight {
  border: 1px solid var(--mdpopups-hl-border);
  border-radius: 0.25rem;
  font-size: 0.9rem;
  {%- if not var.use_pygments %}
  background-color: var(--mdpopups-hl-bg);
  {%- endif %}
}
.mdpopups div.highlight,
.mdpopups pre.highlight {
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.mdpopups code.highlight{
  padding: 0.05rem 0.25rem;
}
{%- endif %}
